.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.content{
    width: calc(100% - 10rem);
}
.content h2{
    color: var(--cor-h2);
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.results{
    color: var(--cor-filtros);
    font-size: 16px;
    margin-bottom: 1rem;
}
.results span a{
    color: var(--cor-pink);
}
.results span{
    color: var(--cor-pink);
}
.notFound{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .content{
        width: calc(100% - 4rem);
    }
}

@media screen and (max-width: 576px) {
    .notFound{
        height: 300px;
    }
    .notFound img{
        width: 280px;
    }
}

@media screen and (max-width: 450px) {
    .content{
        width: calc(100% - 1rem);
    }
    .content h2{
        font-size: 15px;
    }
    .content .results{
        font-size: 12px;
    }
}
