.section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.container{
    width: calc(100% - 4rem);
}

@media screen and (max-width: 450px) {
    .container{
        width: calc(100% - 1rem);
    }
}