footer{
    width: 100%;
    margin-top: 3rem;
    padding: 2rem 1rem;
    color: var(--title-kdrama);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--cor-bg-footer);
}

@media screen and (max-width: 450px){
    footer{
        font-size: 13px;
    }
}