
.nav{
    width: 100%;
    position: relative;
    background: var(--cor-nav);
    color: var(--cor-bg);
    z-index: 99;
}
.nav.navFixed{
    position: fixed;
    top: 0;
    animation: expandNav 0.5s ease;
}

@keyframes expandNav {
    from {
        top: -4rem;
      }
      to {
        top: 0rem;
      }
}
.nav.navDetails{
    background: transparent;
}
.container{
    padding: 10px 2rem 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.back{
    cursor: pointer;
    margin-right: 0.5rem;
    color: #fff;
}
.back:hover{
    color: var(--cor-pink);
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 180px;
    height: 40px;
}
.imgContainer img{
    width: 100%;
    
}
.list{
    display: flex;
    gap: 1.5rem;
    margin-left: 1rem;
}
.list a{
    color: var(--cor-text);
    font-size: 15px;
}
.list a:hover{
    color: #fff;
}

.linkActivo{
    color: #fff !important;
    font-weight: 700;
}


/* Search */
.search{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: auto;
    font-size: 15px;
}



/* Actions */
.actions{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem;
}
.actions a{
    color: inherit;
}
.actions svg{
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--icon-color-nav);
}
.user{
    display: grid;
    cursor: pointer;
    place-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid var(--cor-bg);
    background: #fff;
}

.menu{
    display: none;
}
@media screen and (max-width: 1024px) {
    .list{
        display: none;
    }
    .actions{
        display: none;
    }
    .menu{
        display: block;
    }
    .menu svg{
        color: #fff;
        font-size: 20px;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .search{
        display: none;
    }
   
}